.app {
  height: 100vh;
  align-items: center;
}

.rtl {
  direction: rtl;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.pointer{
  cursor: pointer;
}

.demo-container{
  flex: 1;
  align-items: center;
  width: 100%;
  margin-bottom: 45px;
}

.props{
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  flex: 0.3;
  max-height: 70px;
}

.prop-box{
  flex: 0.5;
  justify-content: center;
  align-items: center;
  border-bottom: 1px dashed #dcdcdc;
}

.prop-box:not(:last-of-type){
  border-right: 1px solid #333;
}

.item {
  transition: transform 200ms ease;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  padding: 15px;
  border: 1px solid #aaa;
  color: #333;
  background-color: #fff;
  margin: 0 15px;
}

.item:hover {
  /* transform: scale(0.96); */
  cursor: pointer;
}

.item.active-item{
  border: 1px solid #444;
}


.item .item-description{
  padding-top: 10px;
}

.app .react-resizable{
  display: flex;
  flex:1;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: rgba(0,0,0,0.03);
  padding: 10px;
}

.app .react-resizable-handle{
  cursor: e-resize;
  color: rgba(0,0,0,.4);
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app .react-resizable-handle::before{
  content: "drag to resize ";
  margin-top: 10px;
}

.app .react-resizable-handle::after{
  content: "⟷"
}